.home {
  display: flex;
  align-items: center;
}
.homeText {
  margin: 1vw 0vw 0vw 3vw;
}
/* Feed.css */

.MuiCard-root {
  background-color: black !important;

  box-shadow: none !important; /* Remove drop shadow */
  border: 1px solid rgb(223, 223, 223) !important;
  color: rgb(223, 223, 223) !important;
}
/* Feed.css */

.feed-container {
  display: flex;
  height: 95vh;
  overflow-y: auto;
  background-color: rgb(4, 4, 4);
  color: rgb(223, 223, 223);
  border-bottom: 1px solid rgb(223, 223, 223);
}
.filter {
  display: flex !important;
  justify-content: space-between !important;
}
.gap {
  padding: 3em em;
}
