.BodyContent {
  display: flex;
  height: 100%;
}
.side {
  width: 20vw;
  height: 100vh;

  border-right: 1px solid black;
}
/* Body.css */
.BodyContent {
  display: flex;
  flex-direction: row;
}

.side {
  flex: 1;
}

.feed {
  flex: 3;
}

/* Media query for mobile devices */
@media (max-width: 1000px) {
  .side {
    display: none;
  }
}
