.profile-page-wrapper {
    display: flex;
    min-height: 100vh;
    color: whitesmoke;
    width: 100%;
    /* flex-wrap: wrap; */
}

.user-profile-section {
    width: 300px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
}

.name {
    width: 250px;
    margin: 10px auto;
}

.profile-image {
    margin: 10px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: grey;
}

.follow-btn {
    background-color: #20272d;
    width: 250px;
    margin: 10px auto;
    height: 40px;
    border-radius: 10px;
    color: whitesmoke;
}

.follower {
    display: flex;
    width: 250px;
    height: 30px;
    gap: 10px;
    margin: 10px auto;
}


.user-repo-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;

}

.repo {

    border: 0.5px solid grey;
    border-radius: 10px;
    width: 400px;
    height: 210px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.repo-name {
    color: #408ced;
    font-size: 20px;
}

.description {
    color: grey;
    font-size: 15px;
}